.wpp-payment-label-container {
  &.stripe_ach {
    img {
      &.wc-block-components-payment-method-icon--stripe_ach {
        height: 25px;
        object-fit: fill;
      }

    }
  }
}

.wpp-payment-blocks-ach__creds {
  margin-top: 10px;

  .wpp-payment-blocks-ach__creds-label {
    font-weight: 700;
  }
}